.container {
  width: 80%;
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 25px;
}
