.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 120px;
  height: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 25px;
}

@media (min-width: 550px) {
  .main-content {
    margin-top: 150px;
  }
}

@media (min-width: 750px) {
  .main-content {
    margin-top: 200px;
  }
}

@media (min-width: 950px) {
  .main-content {
    margin-top: 250px;
  }
}
