html,
body {
  height: 100vh;
  background-color: #1b1b1b;
  font-family: dongle, sans-serif;
  color: #3e3e3e;
}

progress {
  width: 100%;
  height: 7px;
  appearance: none;
  margin-bottom: 20px;
}

progress::-webkit-progress-bar {
  background-color: #3e3e3e;
  border-radius: 50px;
}

progress::-webkit-progress-value {
  background-color: #7d7;
  border-radius: 50px;
  transition: width 0.7s ease;
}

a {
  color: #7d7;
  font-size: 1.4rem;
  text-decoration: none;
}

span {
  font-size: 30px;
  box-sizing: border-box;
}

input {
  outline: none;
  text-align: center;
  font-size: 2rem;
  font-family: dongle, sans-serif;
  background-color: #1b1b1b;
  border: none;
  color: #7d7;
  border-radius: 50px;
  padding: 10px;
  height: 50px;
  width: 100%;
}

p {
  font-size: 1.5rem;
}

i {
  margin-top: 5px;
}

h1 {
  text-align: left;
  margin: 0;
}

h2 {
  font-size: 2rem;
  color: #7d7;
  text-align: center;
}

h3 {
  margin: 0;
  color: #7d7;
}

button {
  width: 80px;
  height: 30px;
  padding: 0;
  background-color: #7d7;
  color: #3e3e3e;
  border: none;
  border-radius: 5px;
  font-family: dongle, sans-serif;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: auto;
  background-color: #272727;
  color: #7d7;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  max-width: 400px;
  height: 200px;
  min-width: 300px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.wpm-message {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 300;
}

.fa-keyboard {
  color: #7d7;
  font-size: 2rem;
}

.title {
  color: #7d7;
  font-size: 2rem;
  font-weight: 300;
  display: inline-block;
  margin-left: 10px;
  width: 75%;
}

.counter {
  font-weight: 300;
  font-size: 3rem;
}

.prompt {
  font-size: 3rem;
  font-weight: 300;
  line-height: 40px;
}

.prompt:focus {
  outline: none;
}

.prompt:hover {
  cursor: default;
}

.right {
  color: #7d7;
}

.wrong {
  color: #dc2626;
}

.word {
  height: 10px;
  margin: 15px 5px;
}

.hidden {
  visibility: hidden;
}

.time-options {
  margin: 0;
  flex-basis: 1;
}

.time-options:hover {
  cursor: default;
}

.time-options-number {
  margin: 0 4px;
}

.time-options-number:hover {
  cursor: pointer;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
}

.player-info {
  font-weight: 300;
  color: #7d7;
}

.player-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.one-half-rem {
  font-size: 1.5rem;
}

.room-footer {
  position: fixed;
  bottom: 27px;
}

.copy-button {
  background-color: #272727;
  color: #7d7;
  border: 2px solid #7d7;
  height: 33px;
  transition: 0.25s;
}

.copy-button:hover {
  background-color: #7d7;
  color: #272727;
}

.links:hover {
  text-decoration: underline;
  cursor: pointer;
}

.margin-left {
  margin-left: 10px;
}

#blinker {
  border-left: 3px #7d7 solid;
  box-sizing: border-box;
}
